<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>ctc博客</title>
	<link rel="stylesheet" type="text/css" href="css/bookstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/bookstrap.css">
	<link rel="stylesheet" type="text/css" href="css/a.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				
				<img class="img-responsive" src="images/selfie.jpg">
			</div>
		</div>
	</div>
	
</body>
</html>