<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>博客</title>
	
	<link rel="stylesheet" type="text/css" href="css/bookstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">程天赐的博客</a>
				<button  class="navbar-toggle" data-toggle="collapse" type="button" data-target="mini-nav" aria-expanded="ture" >
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="mini-nav" >
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">个人</a></li>
					<li><a href="#">博客</a></li>
					<li><a href="#">他人的博客</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
			        <div class="form-group">
			            <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <!-- <button type="submit" class="btn btn-inverse">搜索</button> -->
			    </form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="">我的信息</a></li>
				<li><a href="">我的博客</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-ms-10 col-md-offset-2">
			
		</div>
	</div>
	</div>
</body>
</html>