<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/front/public.css">
	<link rel="stylesheet" type="text/css" href="/css/front/index.css">
</head>
<body>
	<section id="view">
		<div id="con">
			<div class="miniHint"></div>
			<div class="up">></div>
			<div class="right">></div>
			<div class="down">></div>
			<div class="left">></div>
			<div class="col">
				<div class="colSingl">
					<div class="block">
						hahhah 1
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 2
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 3
					</div>
				</div>
			</div>
			<div class="col">
				<div class="colSingl">
					<div class="block">
						hahhah 4
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 5
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 6
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 7
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 8
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 9
					</div>
				</div>
			</div>
			<div class="col">
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
				<div class="colSingl">
					<div class="block">
						hahhah 
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="/js/front/index.js"></script>
</body>
</html>